*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100vh;
    background-color: #caf0f8;
}
body{
    padding: 15px;
    
}
.container{
    height: 70vh;
    width: 70vh;
    border-radius: 15px;
    margin: 15vh auto;  
    background-color: #457b9d;
}
header h1{
    text-align: center;
    color: #1d3557;
    background-color: tomato;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.resultado{
    height: 10%;
    width: 80%;
    border: none;
    margin: 1% auto;
    display: flex;
    align-items: center;  
    justify-content: end;
    padding: 0 4%;
    border-color: #a8dadc;
    background-color: #caf0f8;
    font-size: x-large;
    border-radius: 15px;
}
.valor{
    height: 90%;
    width: 20%;
    margin: auto 10px;
    text-align: center;
}
.signo{
    height: 70%;
    width: 10%;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.elementos{
    height: 70%;
    width: 70%;
    margin: 7% auto;
}
.section1, .section2, .section3, .section4{
    display: flex;
    gap: 10px;
    height: 10vh;
    margin-bottom: 3%;
}
.boton{
    height: 70%;
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #a8dadc;
    background-color: lightsteelblue;
}
#btn_10,#btn_11,#btn_12,#btn_13{
    background-color: #1d3557;
    color: aliceblue;
}
#btn_14{
    background-color: #fb8500;
}
#btn_15{
    background-color: tomato;
}