*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
}
body{
    padding: 15px;
    
}
header h1{
    text-align: center;
    color: #44608e;
}
.container{
    height: 60%;
    width: 50%;
    border: solid 1px;
    margin: auto;  
    padding: 10px;
}
.resultado{
    height: 10%;
    width: 80%;
    border: solid 1px gray;
    margin: auto;
    display: flex;
    align-items: center;  
    justify-content: end;
    padding: 0 20px;
    border-color: #3066BE;
    background-color: lightsteelblue;
    font-size: x-large;
}
.operacion{
    height: 10%;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center
}
.valor{
    height: 90%;
    width: 20%;
    margin: auto 10px;
    text-align: center;
}
.signo{
    height: 70%;
    width: 10%;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.elementos{
    height: 70%;
    width: 50%;
    margin: auto;
}
.section1, .section2, .section3, .section4{
    display: flex;
    gap: 10px;
    height: 10vh;
    margin-bottom: 10px;
}
.boton{
    height: 70%;
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #5f92e4;
    background-color: lightsteelblue;
}